* {
  box-sizing: border-box;
}


.mails-list-container {

  padding: 30px 0px 10px 0px;
  border: 1px solid rgba(129, 129, 129, 0.265);
  border-radius: 10px;
  width: 98%;
  background-color: white;
  border: 0;
}

.mail-list {
  margin-block-end: 1em;
  margin-inline-start: 0.5em;
  color: #202124;
}