* {
  box-sizing: border-box;
}


.mail-compose-container {
  position: fixed;
  right: 5.2em;
  bottom: 0;
  box-shadow: 0 0 20px 0px #ccc;



  padding: 0.0375em 0.0625em;
  border: 1px solid rgba(129, 129, 129, 0.265);
  border-radius: 12px;


  background-color: white;
}

.close-compose-btn {
  margin-inline-end: 1em;
  width: 1em;
  height: 0.975em;
}

.close-compose-btn:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.423);
  border-radius: 50px;
  transition: 0.3s;

}


.new-mail-title-container {
  background-color: #f2f6fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-mail-title {
  font-size: 0.875em;
  padding: 1em;
  color: #041e49;

}

.mail-to-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  border-bottom: 0.1em solid rgba(201, 201, 201, 0.35);
  border-top: 0.1em solid rgba(201, 201, 201, 0.35);

  padding: 0.9375em;
}


#to {
  height: 1.625em;
  border-radius: 10px;
  border: 0;
}

#to:focus {
  outline: none;
}

.mail-subject-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  border-bottom: 0.1em solid rgba(201, 201, 201, 0.35);
  border-top: 0.1em solid rgba(201, 201, 201, 0.35);

  padding: 0.9375em;
}


#subject {
  height: 1.625em;
  border-radius: 10px;
  border: 0;
}

#subject:focus {
  outline: none;
}

#body {
  border: none;
}

#body:focus {
  outline: none;
}


.compose-actions {
  display: flex;
  justify-content: start;
  padding: 0.9375em;
}

.compose-send-btn {
  color: white;
  background-color: #0b57d0;

  padding: 0.625em 1.25em;
  font-size: 0.875em;
  text-align: center;
  border-radius: 30px;
  border: 0;
}

.compose-send-btn:hover {
  cursor: pointer;
  background-color: #2667d0;
}

.x-img {
  width: 1em;
}