* {
  box-sizing: border-box;
}


table {
  border-collapse: collapse;
  width: 100%;
}

.mail-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-items: center; */

  /* align-items: center; */
  /* justify-content: center; */


  /* border-radius: 5px; */
  border-bottom: 0.1em solid rgba(201, 201, 201, 0.35);
  border-top: 0.1em solid rgba(201, 201, 201, 0.35);
  width: 100%;
  /* box-shadow: inset 2px -1px 0px 0px #86838375; */
}


.read {
  background-color: #f2f6fc;

}

/* .mail-sender-container {}

.mail-subject-body-container {} */

td {
  padding: 0.4em;
  margin: 0;
  height: fit-content;

}


tr:hover {
  box-shadow: 0 0 20px 0px #ccc;
  border-bottom: 0.1em solid rgba(183, 181, 181, 0.571);
  border-top: 0.1em solid rgba(183, 181, 181, 0.571);
  cursor: pointer;
  transition: 0.4s;
}







.mail-sender {
  font-weight: bold;
  color: #202124;
  /* width: 10px; */
}

.mail-subject {
  font-weight: bold;
  color: #202124;
}

.mail-body {
  color: rgba(0, 0, 0, 0.387);
}

.time-container {
  display: grid;
  align-content: center;
  margin-inline-start: 22.8em;
}

.sent-time {
  display: grid;
  font-weight: 800;
  font-family: "Roboto", sans-serif;

  font-size: 0.75em;
}