 /* home */



 .home-section {
   width: 500px;
   height: 500px;

 }

 .home-page {
   background-image: url("./assets/mail-imgs/homePage2.jpg");
   background-size: cover;
   width: 100vw;
   height: 100vh;
 }

 .home-body {
   display: flex;
   flex-direction: column;
 }

 .home-header {


   font-size: 4em;
   color: #202124;
   margin-inline-start: 0.5em;
   margin-block-start: 1em;
   margin-bottom: 1rem;
   letter-spacing: 2px;
 }

 .sub-header {
   margin-inline-start: 1.1em;
   font-size: 1.8em;
 }

 .home-links {
   display: flex;
   flex-direction: row;
   align-items: center;

   gap: 0.5em;
   margin-inline-start: 1.6em;
 }

 .mail-home-icon {
   height: 2.8em;
 }

 .mail-home-icon:hover {
   cursor: pointer;
 }

 .mail-note-icon {
   height: 3.5em;
 }

 .mail-note-icon:hover {
   cursor: pointer;
 }

 .home-icon-btn {
   border: none;
   background-color: rgba(255, 255, 255, 0);
 }