* {
  box-sizing: border-box;
}

html {
  background-color: #f6f8fc;
}

.mail-app {
  display: grid;
  grid-template-columns: 1fr 10fr;
  justify-content: center;

}

.mails-list {
  display: grid;
}

.side-bar {
  display: grid;
}