dialog {
    width: 500px;
    height: 400px;
    overflow-x: hidden;
}

menu {
    position: relative;
    bottom: -200px;
    left: 300px;
    margin: 10px;
}

.note-txt-edit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.note-todo-edit-container {
    display: flex;
    flex-direction: column;
}

.todo-edit {
    margin: 10px;
}

.title-edit,
.title-txt {
    margin: 10px;
}