/* note list */
.note-list {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Updated grid settings */
    list-style-type: none;
}

.note-item {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    border: 2px solid rgb(192, 192, 188);
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    overflow-y: auto;
}

.note-item::-webkit-scrollbar{
    display: none;
}

/* Adjusting min-width to be more flexible */
.note-item {
    min-width: 200px;
    /* This can be adjusted as needed */
}

.note-txt{
    margin-top: 2em;
}

.note-txt-title {
    font-weight: bold;
}

.note-todo-title {
    margin-top: 40px;
    font-weight: bold;
}

.todo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.todo ul {
    padding-left: 10px;
}

.todo-content-container {
    margin-top: 2em;
}


.actions-note {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.actions-note button {
    border: none;
    background-color: #f8f5f5;
    cursor: pointer;
}

.todo ul li {
    list-style: none;
}

.line-over-todo {
    text-decoration: line-through;
}

.note-item .actions-note button,
.note-item .actions-note input {
    
    display: none; /* Hide buttons initially */
}

.note-item:hover .actions-note button,
.note-item:hover .actions-note input {
    
    display: inline-block; /* Show buttons when hovering over note-item */
}

.note-todo-title {
    margin: 10px;
    font-weight: bold;
}

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo ul {
    padding-left: 10px;
}

.todo-content-container {
    margin-top: 2em;
}

.actions-note button {
    border: none;
    background-color: #f8f5f500;
    cursor: pointer;
}

.todo ul li {
    list-style: none;
}

.copy-img{
    width: 1.5em;
}

.color-picker-input{
    width: 3em;
}