.filters {
    position: fixed;
    top: 0;
    left: 25%;
    width: 100%;

    z-index: 1000;
    /* Ensure it appears above other content */
    padding: 20px;
    text-align: center;
    gap: 10px;
    display: flex;
}

.pinned-cheakbox {
    /* Corrected class name */
    color: rgb(80, 73, 73);
}

.filters select {
    width: 10em;
}

.filters .txt-filter {
    width: 30%;
    height: 30px;
    border-radius: 20px;
    background-color: #f8f5f5;
}

.filter-options {
    display: flex;
    flex-direction: column;

}