* {
  box-sizing: border-box;
}

html {
  background-color: #f6f8fc;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  object-fit: fill;
}


/* .mail-app {

} */

.mails-app-header {
  display: flex;
  position: relative;
  gap: 1.25em;
  /* justify-content: center; */
  align-items: center;
  /* margin-inline-start: 1em; */
  margin-block-end: 1em;
  /* width: 30%; */

}

.mail-logo-burger {
  display: flex;
  flex-direction: row;
}

.mail-filter-search {
  font-size: 0.8125em;
  line-height: 1.6875em;
  text-align: start;
  fill: #000000;
  background-color: #eaf1fb;
  border-radius: 1.5em;
  height: 4.1em;
  /* min-width: 21.875em; */
  width: 80%;

  /* max-width: 45em; */

  /* height: 2.875em; */
  padding: 1em 3.5em;
  margin-inline-start: 1em;

  /* margin-inline-end: 3.0625em; */
  overflow: hidden;
  /* width: 720px; */
  border: 0;
  /* box-shadow: 0 0 20px 0px #ccc; */
}

.mail-filter-search:focus {
  background-color: white;
  transition: 0.1s;
  outline: none;
  box-shadow: 0 0 3px 0px #ccc;
}

.mail-filter-search::placeholder {
  font-size: 1.4em;
}

.mails-boxes {
  display: grid;
  grid-template-columns: 1fr 10fr;
  justify-content: center;
  gap: 2em;

}

.mails-list {
  display: grid;
}

.side-bar {
  display: grid;
}

.mail-app-logo {
  width: 7em;
  margin-inline-start: 0.7em;
}

.mail-input-container {
  position: relative;
  width: 65%;
}

.search-btn {
  position: absolute;
  width: 2.8em;
  border: 0;
  top: 0.8em;
  left: 1.8em;
  background-color: #ffffff00;
  outline: none;
}

.menu-btn {
  border: 0;
  background-color: #ffffff00;
  outline: none;
}

.menu-icon {
  width: 2.5em;
}