* {
  box-sizing: border-box;
}


table {
  border-collapse: collapse;
  width: 100%;
}

.mail-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  /* justify-content: center; */

  margin-inline-start: 0.5em;

  border-bottom: 0.1em solid rgba(201, 201, 201, 0.35);
  border-top: 0.1em solid rgba(201, 201, 201, 0.35);
  /* box-shadow: inset 2px -1px 0px 0px #86838375; */
}


.read {
  background-color: #f2f6fc;
}

td {
  padding: 0.4em;
  margin: 0;
  height: fit-content;

}


tr:hover {
  box-shadow: inset 1px -0.5px 0px 0px #86838375;
  border: 0.1em solid rgba(183, 181, 181, 0.571);
  cursor: pointer;
}





.mail-sender {
  font-weight: bold;
}

.mail-subject {
  font-weight: bold;
}

.mail-body {
  color: rgba(0, 0, 0, 0.387);
}