* {
  border-radius: 0;
}


table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 0.7em;
}

.mail-card {
  display: grid;

  grid-template-columns: 1fr 1fr;



  border-bottom: 0.1em solid rgba(201, 201, 201, 0.35);
  border-top: 0.1em solid rgba(201, 201, 201, 0.35);

}


.mail-sender {
  font-weight: bold;
}

.mail-subject {
  font-weight: bold;
}

.mail-body {
  color: rgba(0, 0, 0, 0.387);
}