* {
  box-sizing: border-box;
}


.mails-list-container {
  border: 1px solid rgba(129, 129, 129, 0.265);
  border-radius: 10px;
  width: 95%;
  background-color: white;
}

.mail-list {
  margin-block-end: 1em;
  margin-inline-start: 0.5em;
}