* {
  box-sizing: border-box;
}


.side-bar-container {
  display: flex;
  flex-direction: column;
}

.inbox-box {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  font-size: 1.1em;
}

.compose-mail {
  border-radius: 1.25em;
  font-size: 0.875em;
  line-height: 2;
  text-align: center;
  border: 0;
  width: 90%;
  height: 3em;
  background-color: #c2e7ff;
  margin-block-end: 2em;
}

.compose-mail:hover {
  cursor: pointer;
}